[submodule "tests/mock_responses"]
	path = tests/mock_responses
	url = https://github.com/zerodha/kiteconnect-mocks
[submodule "include/PicoSHA2"]
	path = include/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/rapidjson"]
	path = include/rapidjson
	url = https://github.com/Tencent/rapidjson.git
